@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Tilt+Neon&display=swap');

:root {
    --red: "red";
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #242582;
}

.container {
    width:980px;
    margin: 0 auto;
    padding: 10px
}

.listItems {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
}

.error{
    color: "red";
}